<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.example.backendfarmacia.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServXips</servlet-name>
        <servlet-class>com.example.backendfarmacia.ServeXips</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServXips</servlet-name>
        <url-pattern>/ServXips</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServePatients</servlet-name>
        <servlet-class>com.example.backendfarmacia.ServePatients</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServePatients</servlet-name>
        <url-pattern>/ServePatients</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServMedicines</servlet-name>
        <servlet-class>com.example.backendfarmacia.ServMedicines</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServMedicines</servlet-name>
        <url-pattern>/ServMedicines</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Release</servlet-name>
        <servlet-class>com.example.backendfarmacia.Release</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Release</servlet-name>
        <url-pattern>/Release</url-pattern>
    </servlet-mapping>
</web-app>